<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      {{#link-to 'index'}}
      <a class="navbar-brand">
        Home Page
      </a>
      {{/link-to}}
    </div>
    <div class="navbar-header">
      {{#link-to 'bills'}}
      <a class="navbar-brand">
        Bills Page
      </a>
      {{/link-to}}
    </div>
  </div>
</nav>
{{outlet}}
